:root {
    --primary: white
}

.btn {
    padding: 10px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: crosshair;

}

.btn--primary{
    background-color: cyan;
    color: black;
    border: 1px solid white;

}

.btn--outline{
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    transition: all 0.5s ease-out;
}

.btn--medium{
    padding: 8px;
    font-size: 12px;
}

.btn--large{
    padding: 14px 26px;
    font-size: 20px;

}
.btn--medium:hover, .btn--large:hover{
    background: whitesmoke;
    color: black;
    transition: all 0.5s ease-out;
}