.navbar {
    background: rgb(0, 50, 107);
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  
  .navbar-logo {
    color: gold;
    justify-self:flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items:flex-start;
  }
  
  .fa-cocktail {
    display: flex;
    margin-left: 0.5rem;
    font-size: 1.8rem;

  }
  .fa-hat-wizard {
    display:flex;
    margin-left: 0.5rem;
    font-size: 1.8rem;
 
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;

    width: auto;
    justify-content:flex-end;
    margin-right: 0.5rem;
  }
  
  .nav-item {
    height: 70px;
    ;
  }
  
  .nav-links {
    color: gold;
    display: flex;
    align-items: center;
    
    text-decoration: none;
    padding: 1rem 2rem;
    /* height: 100%; */
  }
  
  .nav-links:hover {
    border-bottom: 4px solid gold;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: gold;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display:none;
  }
  .btn-mobile{
      display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;

    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 35%;
      position: absolute;
      top: 3.5rem;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-angle-double-down {
      color: gold;
      font-size: 2rem;
    }
    .fas-cocktail {
      color: gold;
        margin-left: 0.1rem;
        font-size: 1.3rem;
      }
      .fas-hat-wizard {
        color: gold;
        margin-left: 0.2rem;
        font-size: 1.3rem;
      }
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem;
      border-radius: 2px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    } 
  
     .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
    .btn-mobile{
        display: flex;
    }
  }